h1{
    text-align: center;
    color: rgb(62, 7, 150);
}
h2{
    text-transform: uppercase;
    color: yellowgreen;
    padding-left: 4%;
    background-color: blueviolet;
}
h4{
    padding-left: 5%;
}
body{
    background-color:rgb(182, 199, 27);
    border: 1px solid rgba(12, 12, 11, 0.555);
}
table, th, td {
    border: 1px solid black;
  }
.resume{
    text-align: center;
}
.image{
    position: absolute;
    right: 5%;
    
}
.Signature{
    text-align: center;
}
ul, ol, p{
    padding-left: 9%;
}